In [1]:
import pandas as pd
df = pd.read_csv('../data/V2.csv', encoding='utf-8', delimiter=';')
#df = df.drop(df.columns[0], axis=1)
del df[df.columns[0]]
df

,Status,Credit.history,Purpose,Savings.account,Installment.rate,Personal.status.and.sex,Number.of.existing.credits,Job,Number.of.people,foreign.worker,Class
0,<0 DM,critical account/other credits existing (not a...,domestic appliances,unknown/ no savings account,4,male: single,2,skilled employee / official,1,yes,1
1,0-200 DM,existing credits paid back duly till now,domestic appliances,<100 DM,2,female: divorced/separated/married,1,skilled employee / official,1,yes,2
2,no checking account,critical account/other credits existing (not a...,(vacation - does not exist?),<100 DM,2,male: single,1,unskilled - resident,2,yes,1
3,<0 DM,existing credits paid back duly till now,radio/television,<100 DM,2,male: single,1,skilled employee / official,2,yes,1
4,<0 DM,delay in paying off in the past,car (new),<100 DM,3,male: single,2,skilled employee / official,2,yes,2
...,...,...,...,...,...,...,...,...,...,...,...
995,no checking account,existing credits paid back duly till now,radio/television,<100 DM,3,female: divorced/separated/married,1,unskilled - resident,1,yes,1
996,<0 DM,existing credits paid back duly till now,car (used),<100 DM,4,male: divorced/separated,1,management/ self-employed/highly qualified emp...,1,yes,1
997,no checking account,existing credits paid back duly till now,domestic appliances,<100 DM,4,male: single,1,skilled employee / official,1,yes,1
998,<0 DM,existing credits paid back duly till now,domestic appliances,<100 DM,4,male: single,1,skilled employee / official,1,yes,2
999,0-200 DM,critical account/other credits existing (not a...,car (used),100-500 DM,3,male: single,1,skilled employee / official,1,yes,1

In [2]:
gb = df.groupby("Credit.history")
gb.get_group("delay in paying off in the past")

,Status,Credit.history,Purpose,Savings.account,Installment.rate,Personal.status.and.sex,Number.of.existing.credits,Job,Number.of.people,foreign.worker,Class
4,<0 DM,delay in paying off in the past,car (new),<100 DM,3,male: single,2,skilled employee / official,2,yes,2
29,<0 DM,delay in paying off in the past,business,<100 DM,3,male: single,2,skilled employee / official,1,yes,2
42,0-200 DM,delay in paying off in the past,education,<100 DM,2,male: single,1,unskilled - resident,2,yes,1
50,0-200 DM,delay in paying off in the past,radio/television,unknown/ no savings account,4,male: single,1,unskilled - resident,1,yes,1
51,0-200 DM,delay in paying off in the past,car (used),<100 DM,1,male: single,2,management/ self-employed/highly qualified emp...,1,yes,1
...,...,...,...,...,...,...,...,...,...,...,...
935,0-200 DM,delay in paying off in the past,domestic appliances,100-500 DM,4,male: single,2,management/ self-employed/highly qualified emp...,1,yes,2
951,<0 DM,delay in paying off in the past,business,<100 DM,2,male: single,2,skilled employee / official,1,yes,2
961,0-200 DM,delay in paying off in the past,car (new),<100 DM,1,male: divorced/separated,2,skilled employee / official,1,yes,1
977,0-200 DM,delay in paying off in the past,business,unknown/ no savings account,4,male: single,2,skilled employee / official,1,yes,1
978,no checking account,delay in paying off in the past,car (new),<100 DM,4,male: single,2,unskilled - resident,2,yes,2