In [6]:
import pandas as pd
df = pd.read_csv('../data/V2.csv', encoding='utf-8', delimiter=';')
del df[df.columns[0]]
df.head()

,Status,Credit.history,Purpose,Savings.account,Installment.rate,Personal.status.and.sex,Number.of.existing.credits,Job,Number.of.people,foreign.worker,Class
0,<0 DM,critical account/other credits existing (not a...,domestic appliances,unknown/ no savings account,4,male: single,2,skilled employee / official,1,yes,1
1,0-200 DM,existing credits paid back duly till now,domestic appliances,<100 DM,2,female: divorced/separated/married,1,skilled employee / official,1,yes,2
2,no checking account,critical account/other credits existing (not a...,(vacation - does not exist?),<100 DM,2,male: single,1,unskilled - resident,2,yes,1
3,<0 DM,existing credits paid back duly till now,radio/television,<100 DM,2,male: single,1,skilled employee / official,2,yes,1
4,<0 DM,delay in paying off in the past,car (new),<100 DM,3,male: single,2,skilled employee / official,2,yes,2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Status                      1000 non-null   object
 1   Credit.history              1000 non-null   object
 2   Purpose                     1000 non-null   object
 3   Savings.account             1000 non-null   object
 4   Installment.rate            1000 non-null   int64
 5   Personal.status.and.sex     1000 non-null   object
 6   Number.of.existing.credits  1000 non-null   int64
 7   Job                         1000 non-null   object
 8   Number.of.people            1000 non-null   int64
 9   foreign.worker              1000 non-null   object
 10  Class                       1000 non-null   int64
dtypes: int64(4), object(7)
memory usage: 86.1+ KB

In [25]:
replace_map = {}
for column in df.columns:
    labels = df[column].astype('category').cat.categories.tolist()
    replace_map_temp = {column : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
    replace_map = {**replace_map, **replace_map_temp}

In [27]:
replace_map

{'Status': {'0-200 DM': 1,
  '<0 DM': 2,
  '>=200 DM': 3,
  'no checking account': 4},
 'Credit.history': {'all credits at this bank paid back duly': 1,
  'critical account/other credits existing (not at this bank)': 2,
  'delay in paying off in the past': 3,
  'existing credits paid back duly till now': 4,
  'no credits taken/all credits paid back duly': 5},
 'Purpose': {'(vacation - does not exist?)': 1,
  'business': 2,
  'car (new)': 3,
  'car (used)': 4,
  'domestic appliances': 5,
  'education': 6,
  'furniture/equipment': 7,
  'radio/television': 8,
  'repairs': 9,
  'retraining': 10},
 'Savings.account': {'100-500 DM': 1,
  '500-1000 DM': 2,
  '<100 DM': 3,
  '>=1000 DM': 4,
  'unknown/ no savings account': 5},
 'Installment.rate': {1: 1, 2: 2, 3: 3, 4: 4},
 'Personal.status.and.sex': {'female: divorced/separated/married': 1,
  'male: divorced/separated': 2,
  'male: married/widowed': 3,
  'male: single': 4},
 'Number.of.existing.credits': {1: 1, 2: 2, 3: 3, 4: 4},
 'Job': {'management/ self-employed/highly qualified employee/ officer': 1,
  'skilled employee / official': 2,
  'unemployed/ unskilled  - non-resident': 3,
  'unskilled - resident': 4},
 'Number.of.people': {1: 1, 2: 2},
 'foreign.worker': {'no': 1, 'yes': 2},
 'Class': {1: 1, 2: 2}}